function Brick.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push pointer 0
call Brick.show 1
pop temp 0
push pointer 0
return
function Brick.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Brick.show 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push pointer 0
call Brick.draw 1
pop temp 0
push constant 0
return
function Brick.draw 0
push argument 0
pop pointer 0
push this 0
push this 1
push this 0
push constant 28
add
push this 1
push constant 10
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Brick.getLeft 0
push argument 0
pop pointer 0
push this 0
return
function Brick.getRight 0
push argument 0
pop pointer 0
push this 0
push constant 5
add
return
