function BrickGame.new 2
push constant 12
call Memory.alloc 1
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push constant 50
pop this 11
push constant 230
push constant 229
push this 11
push constant 7
call Paddle.new 4
pop this 0
push constant 253
push constant 222
push constant 0
push constant 511
push constant 0
push constant 229
call Ball.new 6
pop this 1
push constant 8
call Random.new 1
pop this 10
push constant 250
push constant 125
push this 10
push constant 2
call Random.randRange 2
call Bonus.new 3
pop this 2
push constant 48
pop this 8
push constant 48
call Array.new 1
pop this 7
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push constant 3
lt
not
if-goto WHILE_END0
push constant 0
pop local 0
label WHILE_EXP1
push local 0
push constant 16
lt
not
if-goto WHILE_END1
push local 0
push local 1
push constant 16
call Math.multiply 2
add
push this 7
add
push local 0
push constant 32
call Math.multiply 2
push constant 10
push local 1
push constant 20
call Math.multiply 2
add
call Brick.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push this 1
push constant 400
push constant 0
call Ball.setDestination 3
pop temp 0
push constant 0
push constant 238
push constant 511
push constant 240
call Screen.drawRectangle 4
pop temp 0
push constant 22
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 8
call String.new 1
push constant 83
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 48
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
pop this 4
push constant 0
pop this 9
push constant 0
pop this 5
push constant 0
pop this 3
push constant 0
pop this 6
push pointer 0
return
function BrickGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Paddle.dispose 1
pop temp 0
push this 1
call Ball.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function BrickGame.newInstance 0
call BrickGame.new 0
pop static 0
push constant 0
return
function BrickGame.getInstance 0
push static 0
return
function BrickGame.run 1
push argument 0
pop pointer 0
label WHILE_EXP0
push this 4
not
not
if-goto WHILE_END0
label WHILE_EXP1
push local 0
push constant 0
eq
push this 4
not
and
not
if-goto WHILE_END1
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call BrickGame.moveBall 1
pop temp 0
push pointer 0
call BrickGame.moveBonus 1
pop temp 0
push this 0
call Paddle.move 1
pop temp 0
push constant 50
call Sys.wait 1
pop temp 0
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 130
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push constant 1
call Paddle.setDirection 2
pop temp 0
goto IF_END0
label IF_FALSE0
push local 0
push constant 132
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push constant 2
call Paddle.setDirection 2
pop temp 0
goto IF_END1
label IF_FALSE1
push local 0
push constant 140
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
not
pop this 4
label IF_FALSE2
label IF_END1
label IF_END0
label WHILE_EXP2
push local 0
push constant 0
eq
not
push this 4
not
and
not
if-goto WHILE_END2
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call BrickGame.moveBall 1
pop temp 0
push pointer 0
call BrickGame.moveBonus 1
pop temp 0
push this 0
call Paddle.move 1
pop temp 0
push constant 50
call Sys.wait 1
pop temp 0
goto WHILE_EXP2
label WHILE_END2
goto WHILE_EXP0
label WHILE_END0
push this 4
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 10
push constant 27
call Output.moveCursor 2
pop temp 0
push this 9
not
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 9
call String.new 1
push constant 71
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
call Output.printString 1
pop temp 0
goto IF_END4
label IF_FALSE4
push constant 8
call String.new 1
push constant 89
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 87
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 33
call String.appendChar 2
call Output.printString 1
pop temp 0
label IF_END4
label IF_FALSE3
push constant 0
return
function BrickGame.moveBonus 6
push argument 0
pop pointer 0
push this 2
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push this 2
call Bonus.getRight 1
pop local 0
push this 2
call Bonus.getLeft 1
pop local 1
push this 2
call Bonus.getY 1
pop local 4
push this 0
call Paddle.getLeft 1
pop local 2
push this 0
call Paddle.getRight 1
pop local 3
push this 2
call Bonus.move 1
pop temp 0
push local 4
push constant 218
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 2
push constant 1
add
push local 1
lt
push local 3
push constant 1
sub
push local 0
gt
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 10
push constant 27
call Output.moveCursor 2
pop temp 0
push constant 100
call Output.printInt 1
pop temp 0
push this 2
call Bonus.isGrow 1
pop local 5
push this 0
push local 5
call Paddle.activateBonus 2
pop temp 0
label IF_FALSE2
push this 2
call Bonus.dispose 1
pop temp 0
push constant 0
pop this 2
label IF_FALSE1
push constant 0
return
function BrickGame.moveBall 13
push argument 0
pop pointer 0
push this 8
push constant 1
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop this 4
label IF_FALSE0
push this 1
call Ball.move 1
pop this 3
push constant 0
pop local 5
label WHILE_EXP0
push local 5
push constant 48
lt
not
if-goto WHILE_END0
push local 5
push this 7
add
pop pointer 1
push that 0
push constant 0
eq
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 5
push this 7
add
pop pointer 1
push that 0
pop local 11
push local 11
push this 1
call Ball.getLeft 1
push this 1
call Ball.getY 1
push this 1
call Ball.getSize 1
call Brick.hasCollision 4
pop local 12
push local 12
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 10
push constant 4
call Random.randRange 2
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 2
push constant 0
eq
not
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 2
call Bonus.dispose 1
pop temp 0
label IF_FALSE4
push this 1
call Ball.getLeft 1
push this 1
call Ball.getY 1
push this 10
push constant 2
call Random.randRange 2
call Bonus.new 3
pop this 2
label IF_FALSE3
push local 11
call Brick.dispose 1
pop temp 0
push local 5
push this 7
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 8
push constant 1
sub
pop this 8
push this 5
push constant 1
add
pop this 5
push this 5
push constant 48
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 0
not
pop this 9
push constant 0
not
pop this 4
label IF_FALSE5
push constant 22
push constant 7
call Output.moveCursor 2
pop temp 0
push this 5
call Output.printInt 1
pop temp 0
push this 1
call Ball.getLengthx 1
push constant 10
call Math.divide 2
pop local 9
push this 1
call Ball.getLengthy 1
push constant 10
call Math.divide 2
pop local 10
push this 1
call Ball.getInvert 1
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 1
neg
pop local 0
goto IF_END6
label IF_FALSE6
push constant 1
pop local 0
label IF_END6
push local 11
call Brick.getLeft 1
pop local 7
push local 10
push constant 20
call Math.multiply 2
push local 9
call Math.divide 2
pop local 6
push this 1
call Ball.getInvert 1
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 3
neg
pop local 8
goto IF_END7
label IF_FALSE7
push constant 3
pop local 8
label IF_END7
push constant 0
pop this 6
push constant 0
pop this 3
push this 1
push constant 0
call Ball.setWall 2
pop temp 0
push this 1
call Ball.getLeft 1
push local 6
push local 8
call Math.multiply 2
add
pop local 6
push this 1
push local 6
push local 7
call Ball.setDestination 3
pop temp 0
label IF_FALSE2
label IF_FALSE1
push local 5
push constant 1
add
pop local 5
goto WHILE_EXP0
label WHILE_END0
push this 3
push constant 0
gt
push this 3
push this 6
eq
not
and
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push this 3
pop this 6
push constant 0
pop local 0
push this 0
call Paddle.getLeft 1
pop local 1
push this 0
call Paddle.getRight 1
pop local 2
push this 1
call Ball.getLeft 1
pop local 3
push this 1
call Ball.getRight 1
pop local 4
push this 3
push constant 4
eq
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push local 1
push local 4
gt
push local 2
push local 3
lt
or
pop this 4
push this 4
not
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push local 4
push local 1
push constant 10
add
lt
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push constant 1
neg
pop local 0
goto IF_END11
label IF_FALSE11
push local 3
push local 2
push constant 10
sub
gt
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push constant 1
pop local 0
label IF_FALSE12
label IF_END11
label IF_FALSE10
label IF_FALSE9
push this 1
push local 0
call Ball.bounce 2
pop temp 0
label IF_FALSE8
push constant 0
return
